---
import { education } from "@cv";
import Section from "./Section.astro";
---

<Section title="Education">
	<ul>
		{
			education.map(({ institution, startDate, endDate, area, url }) => {
				const startYear = new Date(startDate).getFullYear();
				const endYear = endDate != null ? new Date(endDate).getFullYear() : "Actual";
				const years = `${startYear} - ${endYear}`;

				return (
					<div>
						<h4>
							<a target="_blank" href={url}>
								{institution}
							</a>
						</h4>
						<div>{area}</div>
						<time>{years}</time>
					</div>
				);
			})
		}
	</ul>
</Section>
