---
import { education } from "@cv";
import DateRange from "./DateRange.astro";
---

<ul>
  {
    education.map(({ institution, startDate, endDate, degree, summary }) => {
      return (
        <li>
          <DateRange start={startDate} end={endDate} />
          <h4>
            {degree}
            <span aria-hidden="true"> / </span>
            {institution}
          </h4>
          <p>{summary}</p>
        </li>
      );
    })
  }
</ul>
