---
import { work } from "@resume";
import DateRange from "./DateRange.astro";
---

<ul class="work">
  {
    work.map(({ name, startDate, endDate, position, summary }) => {
      return (
        <li class="work__item">
          <header class="work__item-header">
            <DateRange start={startDate} end={endDate} />
            <h4>
              {position}
              <span aria-hidden="true"> / </span>
              {name}
            </h4>
          </header>
          {summary && <p>{summary}</p>}
        </li>
      );
    })
  }
</ul>
<style>
  .work {
    padding-inline-start: 2em;
    border-left: 2px dashed var(--color-dark);
    display: flex;
    flex-direction: column;
  }

  @media screen {
    .work {
      gap: 3em;
    }
  }

  @media print {
    .work {
      gap: 2em;
    }
  }

  /* TODO shouldn't this come with stylelint-config-html/astro? */
  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  :global(.work .date-range) {
    margin-left: calc(-2.6em + 2px);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    position: relative;
    top: -0.2em;
  }
</style>
