---
import { work } from "@cv";
import DateRange from "./DateRange.astro";
---

<ul>
  {
    work.map(
      ({ name, startDate, endDate, position, summary, technologies }) => {
        return (
          <li>
            <header>
              <h4>{position}<span aria-hidden="true"> / </span>{name}</h4>
              <DateRange start={startDate} end={endDate} />
            </header>
            {summary && <p>{summary}</p>}
            {technologies && (
              <>
                  <h5>Tech stack</h5>
                  <p>
                    {technologies.join(', ')}
                  </p>
                </>
            )}
          </li>
        );
      },
    )
  }
</ul>
