---
import { ViewTransitions } from 'astro:transitions';
import { basics } from "@cv";
const { summary, url  } = basics;
const { title, pageName } = Astro.props;

---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Page title</title>
		<ViewTransitions />
		<meta name="description" content={summary} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&family=Jacquard+12&family=Jacquard+12" rel="stylesheet">
		<meta property="og:url" content={url} />
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={summary} />
		<meta property="og:image" content="" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content={url.split("//")[1] ?? ""} />
		<meta property="twitter:url" content={url} />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={summary} />
		<meta name="twitter:image" content="" />
		<script src="../scripts.js"></script>
		<link rel="stylesheet" href="/themes/themes.css" />
	</head>
	<body>
		<div class="body__wrapper">
			<slot/>
		</div>
	</body>
</html>
<style is:global>
	:root {
		/* opacity hack for Safari ::selection */
		--color--light: rgb(255, 191, 203);
		--color--dark: rgb(3, 1, 3);
		--color--foreground: var(--color--light);
		--color--background: var(--color--dark);
		--font-family--body: "DM Mono", monospace;
		--font-family--display: "Jacquard 12", system-ui;
		--content-width: 800px;
		--border-width: 25px;
		--header-height: 9rem;
		--border-radius: 2rem;
	}

	* {
		box-sizing: border-box;
	}

	::selection {
		background-color: var(--color--light);
		color: var(--color--dark);
	}

	a {
		color: currentColor;
	}

	body {
		margin: 0;
		font-style: normal;
		font-family: var(--font-family--body);
		padding: var(--border-width);
		background: var(--color--dark);
		color: var(--color--light);
		height: 100vh;
		overflow: hidden;
		-webkit-user-select: none;
	}

	.body__wrapper {
		overflow-y: scroll;
		height: 100%;
		border-radius: var(--border-radius);
		max-width: var(--content-width);
		margin-inline: auto;
		-webkit-user-select: text;
	}

	h1, h2, h3, h4, h5, h6 {
		margin-block: 2em 1em;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.print {
		display: none !important;
	}

	@page {
		size: auto;
		margin: 0;
	}

	@media print {
		.no-print {
			display: none !important;
		}

		.print {
			display: block !important;
		}
	}

	.decorative-curve::before,
	.decorative-curve::after {
		content: "";
		position: absolute;
		background-color: transparent;
		height: calc(2 * var(--border-radius));
		width: var(--border-radius);
		border-top-left-radius: var(--border-radius);
		box-shadow: 0 calc(-1 * var(--border-radius)) 0 0 var(--color--dark);
		z-index: -1;
	}
</style>
